.banner .nav li {
  @extend .nav-item;

  &.nav-btn {
    @include media-breakpoint-up(lg) {
      background: $primary;

      > a {
        //color: #fff;
        padding: 0 1rem;
        line-height: 56px;
      }
    }
  }
}

.banner .nav a {
  @extend .nav-link;

  padding: 1rem;
  color: $gray-700;
}

.banner {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  background: no-repeat fixed;
  background-size: 100%;
  background-position: center;
  overflow: hidden;
  animation-iteration-count: infinite;
  animation-name: cloud_bg;
  animation-duration: 30s;

  .header-text {
    width: 100%;
    height: 100%;
    padding-bottom: 75px;

    .title {
      font-size: 124px;
      font-weight: bold;
    }

    .subtitle {
      font-family: 'Playfair Display', sans-serif;
      font-style: italic;
      font-size: 48px;
    }
  }

  .nav-primary {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    border-bottom: 1px solid $gray-300;

    &.fixed {
      bottom: auto;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
    }

    .header-container {
      //width: 800px !important;

      @include make-container();
    }
  }

  .header-logo {
    max-height: 55px;
  }

  .clouds {
    position: absolute;
    bottom: 0;
    opacity: 0;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-name: cloud1;
    animation-duration: 10s;

    &#cloud1 {
      animation-delay: -7s;
    }

    &#cloud2 {
      animation-delay: -5s;
    }

    &#cloud3 {
      animation-delay: -3s;
    }

    &#cloud4 {
      transform: scaleX(-1);
      animation-delay: -1s;
    }

    &#cloud5 {
      transform: scaleX(-1);
      animation-delay: 1s;
    }

    &#cloud6 {
      transform: scaleX(-1);
      animation-delay: 3s;
    }
  }
}

@keyframes cloud_bg {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 150%;
  }
}

@keyframes cloud1 {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}
