.content-info {
  background: $primary;
  color: #fff;

  section.widget {
    margin: 0 15px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
