.top-bar {
  background-color: $primary;
  padding: 0.5rem;
  color: #fff;
}

.banner .nav li {
  @extend .nav-item;

  &.nav-btn {
    @include media-breakpoint-up(lg) {
      background: $primary;

      > a {
        //color: #fff;
        padding: 0 1rem;
        line-height: 56px;
      }
    }
  }
}

.banner .nav a {
  @extend .nav-link;

  padding: 1rem;
  color: $gray-700;
}

.banner {
  position: relative;
  height: 280px;
  background: $primary;
  //background-size: cover;
  background-attachment: fixed;

  &.company-banner {
    min-height: 75vh;
    background-image: url("../images/tjej_train.jpg");
    background-size: cover;
  }

  &.videobanner {
    position: relative;
    min-height: 100vh;
    height: 100vh;
    background: no-repeat fixed;
    background-size: 100%;
    background-position: center;
    overflow: hidden;

    .header-text {
      padding-bottom: 75px;
    }
  }

  #bgvid {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;

    video {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
        position: relative;
        z-index: -1;
      }
    }
  }

  .header-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;

    .title {
      font-size: 2rem;
      font-weight: bold;

      @include media-breakpoint-up(sm) {
        font-size: 3rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 4rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 5rem;
      }

      @include media-breakpoint-up(xl) {
        font-size: 6rem;
      }
    }

    .subtitle {
      font-family: "futura-pt", sans-serif;
      font-style: italic;
      font-size: 1.5rem;

      @include media-breakpoint-up(sm) {
        font-size: 2rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 2.3rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 2.8rem;
      }

      @include media-breakpoint-up(xl) {
        font-size: 3.2rem;
      }
    }
  }

  .nav-primary {
    position: relative;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    border-bottom: 4px solid transparent;
    font-family: $headings-font-family;
    color: #fff;

    .header-container {
      //width: 800px !important;

      @include make-container();

      .btn {
        padding: 0;
      }

      .brand {
        &.on-white {
          display: none;
        }

        &.on-transparent {
          display: block;
        }
      }
    }

    .navbar-collapse {
      margin-top: 60px;

      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }

      .menu-item {
        margin: 0 1rem;

        a {
          color: #fff;
          position: relative;
          font-family: $subheadings-font-family;
          font-size: 1rem;

          &::after,
          &::before {
            content: '';
            width: 0;
            background: $secondary;
            height: 2px;
            position: absolute;
            bottom: 0;
            transition: all 250ms;
          }

          &::before {
            left: 50%;
            transform-origin: right;
          }

          &::after {
            right: 50%;
          }

          &:hover {
            &::after,
            &::before {
              width: 50%;
            }
          }
        }
      }

      .current-menu-item {
        a {
          &::before,
          &::after {
            width: 50%;
          }
        }
      }
    }

    &.fixed {
      bottom: auto;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      animation-name: navbarReveal;
      animation-duration: 500ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;

      .menu-item a {
        color: $primary;
      }

      .brand {
        &.on-white {
          display: block;
        }

        &.on-transparent {
          display: none !important;
        }
      }
    }
  }

  .header-logo {
    max-height: 35px;

    @include media-breakpoint-up(md) {
      max-height: 45px;
    }

    @include media-breakpoint-up(lg) {
      max-height: 55px;
    }
  }
}

@keyframes navbarReveal {
  0% { top: -200px; }
  100% { top: 0; }
}

