.banner .nav li {
  @extend .nav-item;

  &.nav-btn {
    @include media-breakpoint-up(lg) {
      background: $primary;

      > a {
        //color: #fff;
        padding: 0 1rem;
        line-height: 56px;
      }
    }
  }
}

.banner .nav a {
  @extend .nav-link;

  padding: 1rem;
  color: $gray-700;
}

.videobanner {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  background: no-repeat fixed;
  background-size: 100%;
  background-position: center;
  overflow: hidden;

  #bgvid {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;

    video {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
        position: relative;
        z-index: -1;
      }
    }
  }

  .header-text {
    width: 100%;
    height: 100%;
    padding-bottom: 75px;
    color: #fff;

    .title {
      font-size: 2rem;
      font-weight: bold;

      @include media-breakpoint-up(sm) {
        font-size: 3rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 4rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 5rem;
      }

      @include media-breakpoint-up(xl) {
        font-size: 6rem;
      }
    }

    .subtitle {
      font-family: 'Playfair Display', sans-serif;
      font-style: italic;
      font-size: 1.5rem;

      @include media-breakpoint-up(sm) {
        font-size: 2rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 2.5rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 3rem;
      }

      @include media-breakpoint-up(xl) {
        font-size: 3.5rem;
      }
    }
  }

  .nav-primary {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    border-bottom: 4px solid $gray-300;

    &.fixed {
      bottom: auto;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
    }

    .header-container {
      //width: 800px !important;

      @include make-container();

      .btn {
        padding: 0;
      }
    }
  }

  .header-logo {
    max-height: 35px;

    @include media-breakpoint-up(md) {
      max-height: 45px;
    }

    @include media-breakpoint-up(lg) {
      max-height: 55px;
    }
  }
}

