$punch-triangle-size: 40px;

.home {
  .punch-lines {
    position: relative;

    .display-1 {
      font-size: 2.5rem;

      @include media-breakpoint-up(sm) {
        font-size: 4rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 5rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 6rem;
      }
    }

    .punch-title {
      font-size: 2rem;
      text-align: center;

      @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 2.8rem;
        text-align: start;
      }

      @include media-breakpoint-up(lg) {
        font-size: 3.2rem;
      }
    }

    //&::after {
    //  content: '';
    //  position: absolute;
    //  left: calc(50% - #{$punch-triangle-size});
    //  bottom: -$punch-triangle-size;
    //  width: 0;
    //  height: 0;
    //  border-style: solid;
    //  border-width: $punch-triangle-size $punch-triangle-size 0 $punch-triangle-size;
    //  border-color: #fff transparent transparent;
    //}
  }

  .sounds-fair {
    min-height: 50vh;

    @include media-breakpoint-up(lg) {
      min-height: 50vh;
    }

    h2 {
      text-align: center;

      @include media-breakpoint-up(lg) {
        font-size: 120px !important;
        text-align: start;
      }

      @include media-breakpoint-up(lg) {
        font-size: 160px !important;
      }

      @include media-breakpoint-up(xl) {
        font-size: 200px !important;
      }
    }

    //background-image: url("../images/trees.jpg");
    //background-size: cover;
    //background-attachment: fixed;
    color: #fff;
    background: url("../images/trees.jpg");
    background-size: cover;
  }
}

//.backgroundcliptext {
//  .sounds-fair {
//    -webkit-background-clip: text;
//    -webkit-text-fill-color: transparent;
//  }
//}
