$panel-triangle-size: 60px;

.wap-panel {
  position: relative;

  .panel-image {
    position: relative;
    height: 30vh;
    background-size: cover;

    @include media-breakpoint-up(lg) {
      background-attachment: fixed;
      background-position-x: 70%;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms;
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;

    .overlay {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.1);
      //background: linear-gradient(to bottom, $accent 0%, $primary 100%);
      //opacity: 0.2;
    }

    .panel-title {
      //text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      color: #fff;
      position: relative;
      z-index: 1;
    }
  }

  .panel-content {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: calc(50% - #{$panel-triangle-size / 2});
      top: -$panel-triangle-size / 2;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 ($panel-triangle-size / 2) ($panel-triangle-size / 2) ($panel-triangle-size / 2);
      border-color: transparent;
    }

    @include media-breakpoint-up(lg) {
      &::after {
        content: '';
        position: absolute;
        left: calc(50% - #{$panel-triangle-size});
        top: -$panel-triangle-size;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 $panel-triangle-size $panel-triangle-size $panel-triangle-size;
        border-color: transparent;
      }
    }
  }

  &.candidate-how-it-works {
    color: #fff;

    .panel-content {
      background: linear-gradient(to bottom, $primary 0%, darken($primary, 20%) 100%);

      .how-it-works-icon {
        max-width: auto;

        @include media-breakpoint-up(lg) {
          max-width: 125px;
        }
      }

      &::after {
        border-color: transparent transparent $primary;
      }
    }
  }

  &.candidate-contact {
    color: #fff;

    .panel-content {
      background: linear-gradient(to bottom, #73828d 0%, darken(#73828d, 25%) 100%);

      &::after {
        border-color: transparent transparent #73828d;
      }

      .social-icons-wrapper {
        .social-item {
          padding: 5px;
          //color: $gray-500;
          margin-right: 0;

          @include media-breakpoint-up(md) {
            margin-right: 2rem;
          }

          font-family: $subheadings-font-family;
          font-size: 1.6rem;
          //border-radius: 50%;
          //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);

          a {
            color: #fff !important;
          }
        }

        .contact-icon {
          font-size: 2.5rem;
          color: #fff;
          width: 4rem;
          height: 4rem;
          text-align: center;
          border-radius: 50%;

          &.facebook-icon {
            //background-color: #3b5998;
            //background: linear-gradient(to bottom, #3b5998 0%, darken(#3b5998, 15%) 100%);
          }

          &.instagram-icon {
            //background-color: #e4405f;
            //background: linear-gradient(to bottom, #e4405f 0%, darken(#e4405f, 15%) 100%);
          }

          &.linkedin-icon {
            //background-color: #0077b5;
          }
        }
      }
    }

    label {
      width: 100%;
      color: #fff;
      //font-family: $headings-font-family;
      margin-bottom: 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    textarea,
    select {
      display: block;
      padding: 2px 5px;
      position: relative;
      width: 100%;
      border: 0;
      color: white;
      border-radius: 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.25);
      font-weight: 300;
      font-size: 30px;
      background: transparent;
      font-family: "Playfair Display", serif;
      font-style: italic;
      box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1);
      transition: box-shadow 500ms ease-out;

      &:focus {
        outline: 0;
        outline-color: rgba(255, 255, 255, 0);
        box-shadow: inset -1500px 0 0 rgba(255, 255, 255, 0.1);
      }
    }

    textarea {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      font-weight: 300;
      border: 0;
      background-color: transparent;
      //padding-top: 41px;
      padding-bottom: 0;
      //margin-bottom: 60px;
      background-attachment: local;
      background-image: linear-gradient(to right, transparent 10px, transparent 10px), linear-gradient(to left, transparent 10px, transparent 10px), repeating-linear-gradient(transparent, transparent 40px, rgba(255, 255, 255, 0.25) 40px, rgba(255, 255, 255, 0.25) 41px, transparent 41px);
      line-height: 41px;
    }
  }
}
