/* your style here */

/* Video */

.videobanner {
    position: relative;
    min-height: 100vh;
    height: 100vh;
    background: no-repeat fixed;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
    margin-top: -30px;

    #bgvid {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-size: cover;
        background-position: center;

        video {
            display: none;

            @media (min-width: 992px) {
            display: block;
                position: relative;
                z-index: -1;
            }
        }
    }

    .header-text {
        width: 100%;
        height: 100%;
        padding-bottom: 75px;
        color: #fff !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
            font-size: 2rem;
            font-weight: bold;
            color: #fff;

            @media (min-width: 576px) {
                font-size: 3rem;
            }

            @media (min-width: 768px) {
                font-size: 4rem;
            }

            @media (min-width: 992px) {
                font-size: 5rem;
            }

            @media (min-width: 1200px) {
                font-size: 6rem;
            }
        }

        .subtitle {
            font-family: 'Playfair Display', sans-serif;
            font-style: italic;
            font-size: 1.5rem;
            color: #fff;

            @media (min-width: 576px) {
                font-size: 2rem;
            }

            @media (min-width: 768px) {
                font-size: 2.5rem;
            }

            @media (min-width: 992px) {
                font-size: 3rem;
            }

            @media (min-width: 1200px) {
                font-size: 3.5rem;
            }
        }
        //.buttons {
        //    width: 100%;
        //    display: flex;
        //    justify-content: center;
        //    align-items: center;
        //
        //    > div {
        //
        //    }
        //
        //    .btn-login {
        //        background: #fbb017;
        //        color: #fff;
        //        width: 100%;
        //    }
        //
        //    .btn-register {
        //
        //    }
        //}
    }
}