/* your style here */
@import url("https://use.typekit.net/ytn6jcj.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');

h1,h2,h3,h4,h5,h6 {
    font-family: "futura-pt",sans-serif;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}
$primary: #094d69;
$secondary: #fbb017;

.btn-secondary {
    background: $secondary;

    &:hover {

    }
}

/* Video */

.videobanner {
    position: relative;
    min-height: 100vh;
    height: 100vh;
    background: no-repeat fixed;
    background-size: 100%;
    background-position: center;
    overflow: hidden;
    margin-top: -50px;
    @media (min-width: 992px) {
        margin-top: -30px;
    }

    #bgvid {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-size: cover;
        background-position: center;

        video {
            display: none;

            @media (min-width: 992px) {
            display: block;
                position: relative;
                z-index: -1;
            }
        }
    }

    .header-text {
        width: 100%;
        height: 100%;
        padding-bottom: 75px;
        color: #fff !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
            font-size: 2rem;
            font-weight: bold;
            color: #fff;

            @media (min-width: 576px) {
                font-size: 3rem;
            }

            @media (min-width: 768px) {
                font-size: 4rem;
            }

            @media (min-width: 992px) {
                font-size: 5rem;
            }

            @media (min-width: 1200px) {
                font-size: 6rem;
            }
        }

        .subtitle {
            font-family: 'Playfair Display', sans-serif;
            font-style: italic;
            font-size: 1.2rem;
            color: #fff;

            @media (min-width: 576px) {
                font-size: 1.4rem;
            }

            @media (min-width: 768px) {
                font-size: 1.6rem;
            }

            @media (min-width: 992px) {
                font-size: 1.8rem;
            }

            @media (min-width: 1200px) {
                font-size: 2rem;
            }
        }
        //.buttons {
        //    width: 100%;
        //    display: flex;
        //    justify-content: center;
        //    align-items: center;
        //
        //    > div {
        //
        //    }
        //
        //    .btn-login {
        //        background: #fbb017;
        //        color: #fff;
        //        width: 100%;
        //    }
        //
        //    .btn-register {
        //
        //    }
        //}
    }
}


// overrides

section#banner-section .banner-title {
    text-align: center;
    width: 100%;
}

footer#footer {
    padding-bottom: 20px;
}

#head-page.alt #dt-menu > ul > li > a {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

#head-page #dt-menu > ul > li > a {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

#head-page.transparent.reveal #logomenurevealmobile {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 50px;
    width: auto;
}

#dt-menu {
    .menu-item {
        @media (min-width: 992px) {
            float: right;
        }
    }
}

