.btn {
  &.btn-heading {
    font-family: $subheadings-font-family;
  }
}

.btn-secondary {
  color: #fff;

  &:hover {
    color: #fff;
  }

  &:active {
    color: #fff !important;
  }
}

.btn-outline-secondary {
  border: 2px solid $secondary !important;

  &:hover {
    color: #fff;
  }

  &:active {
    color: #fff !important;
  }
}

.btn-outline-light {
  border: 2px solid $light !important;
}

.btn-outline-dark-gray {
  border: 2px solid $dark-gray !important;
}
