html {
  font-size: 0.85rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.95rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

.section-header {
  font-size: 4rem;
}

.sub-header {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: $secondary;
}

.fg-primary {
  color: $primary;
}

.fg-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}
