html,
body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.95rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

.display-3 {
  font-size: 3rem;

  @include media-breakpoint-up(sm) {
    font-size: 3.5rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 4rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 4.5rem;
  }
}

.section-header {
  font-size: 4rem;
}

.sub-header {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: $secondary;
}

.wrap {
  overflow: hidden;
}

.main {
  background: #fff;
}

.home {
  .main {
    padding: 0;
  }
}

.fg-primary {
  color: $primary;
}

.fg-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.font-headings {
  font-family: $headings-font-family !important;
}

.font-subheadings {
  font-family: $subheadings-font-family !important;
}
